/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//

10001                   BITMAP  DISCARDABLE     "bmp10001.bmp"
10002                   BITMAP  DISCARDABLE     "bmp10002.bmp"
10003                   BITMAP  DISCARDABLE     "bmp10003.bmp"
10004                   BITMAP  DISCARDABLE     "bmp10004.bmp"
10005					BITMAP  DISCARDABLE     "bmp10005.bmp"
10006                   BITMAP  DISCARDABLE     "bmp10006.bmp"
10007                   BITMAP  DISCARDABLE     "bmp10007.bmp"
10008                   BITMAP  DISCARDABLE     "bmp10008.bmp"
10009					BITMAP	DISCARDABLE		"bmp10009.bmp"
10010					BITMAP	DISCARDABLE		"bmp10010.bmp"
10011					BITMAP	DISCARDABLE		"bmp10011.bmp"
10013					BITMAP	DISCARDABLE		"bmp10013.bmp"
10014					BITMAP	DISCARDABLE		"bmp10014.bmp"
10017				    BITMAP	DISCARDABLE	    "bmp10017.bmp"
10018                   BITMAP  DISCARDABLE     "bmp10018.bmp"  

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_DEU)

#ifndef _MAC
/////////////////////////////////////////////////////////////////////////////
//
// Version
//

1 VERSIONINFO
 FILEVERSION 2,0,6,0
 PRODUCTVERSION 2,0,6,0
 FILEFLAGSMASK 0x0L
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004e4"
        BEGIN
            VALUE "Comments", "\0"
            VALUE "CompanyName", "plasq LLC\0"
            VALUE "FileDescription", "VST Plug-In\0"
            VALUE "FileVersion", "2.0.6\0"
            VALUE "InternalName", "Wormhole2\0"
            VALUE "LegalCopyright", "plasq LLC 2005/2006\0"
            VALUE "LegalTrademarks", "VST is a trademark of Steinberg Media Technologies\0"
            VALUE "OriginalFilename", "Wormhole2.dll\0"
            VALUE "PrivateBuild", "\0"
            VALUE "ProductName", "\0"
            VALUE "ProductVersion", "\0"
            VALUE "SpecialBuild", "\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1252
    END
END

#endif    // !_MAC

#endif
